/* General Styles */

body {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: 0px solid ;
    border-radius: 7px;
    padding: 5px 25px;
}

footer, footer a {
    text-align: center;
    text-decoration: none;
    color: #E5E7EB;
}

.cube {
    display: flex;
    flex-flow: column nowrap;
    width: 168px;
}

.cube img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3b82f6;
    border-radius: 15px;;
    height: 160px;
    width: 160px;
}

.cube .subtext {
    text-align: center;
}

.inner-cubes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-evenly;
}

.inner-cubes,
.inner-quote {
    box-sizing: border-box;
    padding: 30px;
}

.header, .hero, footer {
    background-color: #1F2937;
}

.header .links {
    margin-left: auto;
}

.header .links ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.header .links a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.inner-cubes,
.inner-quote {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
}

.inner-header,
.inner-hero,
.inner-sign-up {
    display: flex;
    margin: 0 auto;
    max-width: 1510px;
}

.inner-hero .text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.inner-hero .text .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.inner-hero .text .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.inner-sign-up {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 20px 100px;
}

.inner-sign-up .text {
    margin-right: auto;
}

.inner-sign-up button {
    border: 1px solid white;
}

.inner-sign-up .text .main {
    font-weight: bold;
}

.hero-image {
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.info .info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.inner-header {
    display: flex;
}

.inner-quote {
    display: flex;
    flex-flow: column nowrap;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-author {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}