/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of CSS Reset */

:root {
    --red-crayola: #ED254E;
    --naples-yellow: #F9DC5C;
    --mint-creme: #F4FFFD;
    --oxford-blue: #011936;
    --black-coral: #465362;
}

.apps {
    margin: 9px 0 5px 0;
}

.logo {
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 3rem;
}

.mobile-navigation {
    background: var(--oxford-blue);
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
}

.mobile-navigation ul {
    display: none;
}

.mobile-navigation ul a {
    padding: 10px 10px;
}

.mobile-navigation a {
    color: var(--mint-creme);
    text-decoration: none;
    font-size: 1.45rem;
    border-radius: 5px;
}

.mobile-navigation.active ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.mobile-navigation a:active {
    background: red;
}

.mobile-navigation a:hover {
    color: var(--naples-yellow);
}

.search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;
}

.search > button {
    border: none;
    background: none;
    background-position: center;
    background-size: contain;
    background-image: url("/assets/media/loupe.png");
    height: 23px;
    width: 23px;
}

.search-box {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    background: #5961703a;
}

#nav-toggle {
    display: block;
    align-self: flex-end;
    padding: 8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    width: 30px;
    height: .2rem;
    border-radius: 2px;
    float: left;
    display: block;
    background: var(--mint-creme);
    position: relative;
    text-indent: -9000px;
}

#nav-toggle span {
    margin: 8px 0;
}

#nav-toggle span:before,
#nav-toggle span:after {
    content: "";
    position: absolute;
}

#nav-toggle span:before {
    top: -9px;
}

#nav-toggle span:after {
    bottom: -9px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}