/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of CSS Reset */

:root {
    --coral-red: #fa3e3e;
    --tropical-green: #298834;
    --naples-yellow: #f7ce15;
    --mint-creme: #F4FFFD;
    --oxford-blue: #011936;
    --oxford-blue-2: #093b77;
    --black-coral: #465362;

    --logo-font-stack: satisfy, 'Brush Script MT', cursive;
}

@font-face {
    font-family: satisfy;
    src: url(/assets/media/fonts/Satisfy/Satisfy-Regular.ttf);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

hr {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.apps {
    margin: 9px 0 5px 0;
}

.apps a[class="active"] {
    color: var(--naples-yellow);
    background: var(--oxford-blue-2);
}

.complaints>*,
.rent>* {
    font-size: 1.4rem;
}

.greetings .user-name {
    font-size: 1.6rem;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 10px;
    position: relative;
    box-shadow: 0px 2px 9px 0px #6f7479e8;
}

.logo {
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 8px;
    font-family: var(--logo-font-stack);
}

.mobile-navigation {
    background: var(--oxford-blue);
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
}

.mobile-navigation ul {
    display: none;
}

.mobile-navigation ul a {
    padding: 10px 10px;
}

.mobile-navigation a {
    color: var(--mint-creme);
    text-decoration: none;
    font-size: 1.45rem;
    border-radius: 5px;
}

.mobile-navigation.active ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.mobile-navigation a:active {
    background: red;
}

.mobile-navigation a:hover {
    color: var(--naples-yellow);
}

.module {
    width: 100%;
    min-height: 180px;
    background: white;
    border-radius: 5px;

    display: grid;
    grid-template: auto / auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0px #6f7479e8;
}

.module-header {
    font-size: 1.4rem;
}

.modules {
    background: #34527528;

    display: grid;
    grid-template: repeat(6, auto) / auto;
    gap: 10px;

    padding: 20px 10px;
}

.notifications img {
    margin-left: 10px;
    height: 23px;
    width: 23px;
}

.profile {
    display: grid;
    grid-template: auto / repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.rent-due,
.rent-overdue {
    display: grid;
    grid-template: repeat(2, auto) / 2.5ch auto;
    gap: 0 8px;

    align-items: center;
}

.rent-overview {
    display: grid;
    gap: 21px 0;
}

.rent-overview>*>span {
    text-align: right;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search>button {
    border: none;
    background: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/media/images/loupe.png");
    height: 23px;
    width: 23px;
}

.search-box {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    background: #5961703a;
}

#complaints,
#rent-due,
#rent-overdue {
    color: var(--coral-red);
    font-size: 1.7rem;
}

#rent-due {
    color: var(--tropical-green);
}

.chart {
    height: 100%;
    width: 100%;
}

#myChart {
    height: 100%;
    min-width: 100%;
}

#nav-toggle {
    display: block;
    align-self: flex-end;
    padding: 8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    width: 30px;
    height: .2rem;
    border-radius: 2px;
    float: left;
    display: block;
    background: var(--mint-creme);
    position: relative;
    text-indent: -9000px;
}

#nav-toggle span {
    margin: 8px 0;
}

#nav-toggle span:before,
#nav-toggle span:after {
    content: "";
    position: absolute;
}

#nav-toggle span:before {
    top: -9px;
}

#nav-toggle span:after {
    bottom: -9px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}