@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.hoursTitle {
    font-size: 1.7rem;
    font-weight: bold;
}

#hours {
    width: 100%;
    max-width: 420px;
    border: 2px solid black;
    padding: 20px 10px;

    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#hoursTable {
    border-collapse: separate;
    white-space: nowrap;
    font-size: 1.2rem;

    td {
        padding: 5px 0;
    }

    tr {
        td:nth-child(1) {
            text-align: start;
        }

        td:nth-child(2n+1) {
            font-weight: bold;
        }
    }
}

#about_description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
    font-family: opensansRegular, 'Libre Baskerville', serif;
    font-size: 1.4rem;

    img {
        height: auto;
        width: 100%;
        max-width: 650px;
    }

    .description {
        max-width: 720px;
        line-height: 1.6rem;
    }

}