@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#about_description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
    font-family: opensansRegular, 'Libre Baskerville', serif;
    font-size: 1.4rem;

    img {
        height: auto;
        width: 100%;
        max-width: 650px;
    }

    .description {
        max-width: 720px;
        line-height: 1.6rem;
    }

}