@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#hoursTable {
    text-align: start;
    white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid rgb(41, 41, 41);

    td {
        border-collapse: collapse;
        border: 1px solid rgb(41, 41, 41);
    }

    tr {
        padding: 20px 0;
    }

    td:nth-child(2n) {
        font-size: 1.6rem;
        border: none;
    }
}

#about_description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
    font-family: opensansRegular, 'Libre Baskerville', serif;
    font-size: 1.4rem;

    img {
        height: auto;
        width: 100%;
        max-width: 650px;
    }

    .description {
        max-width: 720px;
        line-height: 1.6rem;
    }

}