/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET */

@import "./hamburger.scss";

:root {
    --background: #f2e4c7;
    --light-red: #e3535d;
    --sky-blue: #69b9ba;
    --teal: #026c6e;
    --dandelion-yellow: #fed469;
    --cream-yellow: #f2ca86;

    --clean: #a7d2cb;
    --butter: #f2d388;
    --salmon: #c98474;
    --eggplant: #874C62;
    --dark-grey: rgb(53, 53, 53);
}

@font-face {
    font-family: breeze;
    src: url('/src/style/fonts/breeze-personal-use.regular.ttf');
}

@font-face {
    font-family: opensansBold;
    src: url('/src/style/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: opensansRegular;
    src: url('/src/style/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: opensansLight;
    src: url('/src/style/fonts/OpenSans-Light.ttf');
}

html {
    min-height: 100vh;
}

body {
    background: url('/src/style/media/background.svg');
}

h1 {
    font-family: opensansBold;
    font-size: 1.5rem;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    gap: 25px;
    padding: 20px 0;
    min-height: calc(100vh - 40px);
}

#header {
    display: flex;
    flex-flow: column nowrap;
}

#logo {
    text-align: center;

    img {
        height: 150px;
        width: 150px;
    }

    .logo-text {
        color: #fd6a77;
        font-family: breeze;
        white-space: nowrap;
        font-size: 3rem;
        text-shadow: 2px 2px 0px #991f0c;
    }
}

#top-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    width: 100%;

    position: absolute;
    top: 0;
}

#navBurger {
    padding: 5px;
    margin: 13px 14px 0px 0;
    z-index: 1;
    align-self: flex-end;

    &.is-active {
        position: fixed;
        top: 0;
    }

    &.is-active+#nav-links {
        transition: height .2s ease-in;
        height: 100vh;
    }
}

#nav-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5px;

    background: var(--background);
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .2s ease-in;
    position: fixed;
    top: 0;

    button {
        margin: 0;
        padding: 10px 0;

        border: none;
        border-radius: 3px;
        background: var(--light-red);

        font-family: breeze;
        font-size: 1.6rem;
        color: var(--background);
        text-shadow: 2px 2px 0px #991f0c;

        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    button:hover {
        border-radius: 3px;
        background: var(--butter);
        font-family: breeze;
        font-size: 1.6rem;
        color: #fd6a77;
        text-shadow: 2px 2px 0px var(--eggplant);
    }
}

#pageTitle {
    font-size: 2.27rem;
    font-family: breeze;
    color: #fd6a77;
    text-shadow: 2px 2px 0px #991f0c;
}

@media screen and (min-width:1024px) {
    #top-nav {
        position: static;
    }

    #nav-links {
        flex-flow: row nowrap;
        position: static;
        height: initial;
        gap: 10px;

        button {
            padding: 5px 30px;
        }
    }

    #navBurger {
        display: none;

        &.is-active+#nav-links {
            height: auto;
        }
    }

    #pageTitle {
        display: none;
    }
}