/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET */

@import "./hamburger.scss";

:root {
    --background: #f2e4c7;
    --light-red: #e3535d;
    --sky-blue: #69b9ba;
    --teal: #026c6e;
    --dandelion-yellow: #fed469;
    --cream-yellow: #f2ca86;

    --clean: #a7d2cb;
    --butter: #f2d388;
    --salmon: #c98474;
    --eggplant: #874C62;
    --dark-grey: rgb(53, 53, 53);
}

@font-face {
    font-family: breeze;
    src: url('/src/style/fonts/breeze-personal-use.regular.ttf');
}

body {
    background: url('/src/style/media/background.svg');
}

#header {
    display: flex;
    flex-flow: column nowrap;
    margin: 45px auto 10px auto;
}

#logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    img {
        height: 150px;
        width: 150px;
    }

    .logo-text {
        color: #fd6a77;
        font-family: breeze;
        white-space: nowrap;
        font-size: 3rem;
        line-height: 3.3rem;
        text-shadow: 2px 2px 0px #991f0c;
    }
}

#top-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 8px 0;
    width: 100vw;

    position: sticky;
    top: 0;

    &.stuck {
        background: var(--background);
    }
}

#navBurger {
    padding: 5px;

    &.is-active+#nav-links {
        transition: height .2s ease-in;
        height: 140px;
    }
}

#nav-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5px;

    background: var(--background);
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .2s ease-in;

    button {
        margin: 0;
        padding: 10px 0;

        border: none;
        border-radius: 3px;
        background: var(--light-red);
        color: black;

        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
}