#menu {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    margin: 0 auto;
    max-width: 700px;
}

.category {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    gap: 15px;
    margin: 0 20px;

    .items {
        display: grid;
        grid: auto / repeat(auto-fill, 175px); // -20px accounts for the gap
        gap: 35px 10px;
        justify-content: center;
    }

    .item {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        line-height: 1.2rem;
        font-family: opensansRegular;
        
        border: 1px solid #aea593;
        border-radius: 4px;
        padding: 20px 0;
        box-shadow: 0 0 11px -7px black;
        background-color: #f2e4c7;
        
        .name {
            font-family: opensansRegular;
            font-weight: bold;
        }
    }

}

.category-name {
    font-size: 1.5rem;
    font-weight: bolder;
}