/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'ArchitectsDaughter', Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

button {
    font-family: 'ArchitectsDaughter';
    font-weight: bold;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hidden {
    display: none;
}

.game .board {
    display: grid;
    grid-template: repeat(3, 60px) / repeat(3, 60px);
    justify-items: center;
    justify-content: center;
    width: auto;
}

.game .board .cell {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    background: pink;
}

.game .board .win-mark {
    background: green;
}

.game .player.current-player {
    background: red;
}

.starter {
    font-size: 1.4rem;
    padding: 10px;
}

.starter form {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.starter form button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    
    border: 1px solid red;
    border-radius: 3px;
    font-size: 2rem;
    padding: 7px;
}

.starter form fieldset {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.starter form div {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.starter form input[type='radio'] {
    display: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.starter form label {
    display: block;
    text-align: center;
    border: 1px solid rgba(145, 145, 145, 0.5);
    border-radius: 3px;
    font-size: 1.8rem;
    padding: 15px;
}

.starter form .disabled #easy+label,
.starter form .disabled #medium+label,
.starter form .disabled #hard+label {
    background: rgba(190, 190, 190, 0.719);
    border: 1px solid rgba(190, 190, 190, 0.719);
    user-select: none;
    pointer-events: none;
}

.starter .difficulty input:checked+label[for='easy'] {
    background: #8cb369;
    border: 1px solid #8cb369;
}

.starter .difficulty input:checked+label[for='medium'] {
    background: #f4e285;
    border: 1px solid #f4e285;
}

.starter .difficulty input:checked+label[for='hard'] {
    background: #bc4b51;
    border: 1px solid #bc4b51;
}

.starter .firstPlayerSymbol input:checked+label,
.starter .gamemode input:checked+label {
    background: #4b80bcb4;
    border-color: #72a7e3b5;
    color: black;
}

.starter .header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 40px 0;
}

.starter .header img {
    height: 100px;
    width: auto;
}

.starter .header .title {
    font-size: 3rem;
    font-weight: bolder;
}

.starter .title
/* .starter form button */ {
    font-size: 1.5rem;
    font-weight: bold;
}

@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('webfont.eot');
    /* IE9 Compat Modes */
    src: url('/assets/styling/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}