$hover_length: .2s;

body {
    margin: 0;
}

form {
    display: flex;
    flex-flow: column nowrap;

    button {
        appearance: none;
        -moz-appearance: none;
        margin: 20px 0;
        height: 60px;

        border: transparent;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        background-color: rgb(59, 83, 117);
        color: white;
        font-weight: bold;
        font-size: 21px;
        transition: $hover_length;

        &:focus-visible {
            background-color: rgb(37, 51, 73);
        }

        &:focus-visible,
        &:hover {
            outline: none;
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(52, 70, 100);
        }
    }

    label {
        font-family: roboto, sans-serif;
        font-size: 16px;

        &+input[type=text],
        &+input[type=email],
        &+input[type=tel],
        &+input[type=password] {
            outline: none;
            padding-left: 7px;
            border-radius: 3px;
            height: 2.7rem;
            font-size: 16px;
            border: 1px solid rgb(227, 227, 227);
            background-color: rgba(244, 244, 244, 0.27);
            transition: $hover_length;

            &:focus-visible {
                border: 1px solid rgb(31, 31, 31);
                background-color: white;
            }

            &:hover {
                border: 1px solid rgb(121, 121, 121);
                background-color: white;
            }
        }
    }
}

label[for="woodlands"] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
    font-size: 3vw;
    color: white;

    a,
    a:visited,
    a:active {
        color: white;
    }
}

.action {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin: 7px 0;
    color: rgb(42, 59, 83);
}

.application {
    display: flex;
    flex-flow: column nowrap;
}

.check-line {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 10px 0;

    input[type=checkbox] {
        position: relative;
        content: ' ';
        cursor: pointer;
        font-size: 22px;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        margin: 0 10px 0 0;
        border: 1px solid rgb(227, 227, 227);
        background-color: rgba(244, 244, 244, 0.27);
        border-radius: 3px;
        height: 20px;
        width: 20px;
        transition: $hover_length;

        &:checked {
            &::before {
                position: absolute;
                content: '✓';
                color: black;
                top: -8px;
                left: 1px;
            }
        }

        &:focus-visible {
            border: 1px solid rgb(31, 31, 31);
            background-color: white;
        }

        &:hover {
            border: 1px solid rgb(121, 121, 121);
            background-color: white;
        }
    }

    label {
        cursor: pointer;
    }
}

.form-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin: 10px 0;
}

.input-line {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(77, 77, 77);
    border-radius: 4px;
}

.logo {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: rgba(29, 29, 29, 0.24);

    img {
        width: 24vw;
    }
}

.logo-text {
    font-family: ubuntuCondensed;
    font-size: 9vw;
    color: white;
}

.sign-up {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(49, 49, 49);
    padding: 0px 20px;
    height: 100vh;
    overflow: initial;
}

#woodlands {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/media/nature-small.jpg');
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: ubuntuCondensed;
    src: url('/assets/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@media only screen and (min-width: 640px) {
    #woodlands {
        background-image: url('/assets/media/nature-medium.jpg');
    }
}

@media only screen and (min-width: 1920px) {
    #woodlands {
        background-image: url('/assets/media/nature-large.jpg');
    }
}