:root {
    --sketchpad-height: 600px;
    --sketchpad-width: 600px;
    --cell-row-count: 0;
    /* Number of cells per row */
    --cell-height: calc(calc(var(--sketchpad-height) / var(--cell-row-count)) - 2px);
    --cell-width: calc(calc(var(--sketchpad-height) / var(--cell-row-count)) - 2px);
    --color-primary: #FFA500;
    --background-color: #181818;
    --background-color-secondary: #202020;
    --border-radius: 2px;
}

body {
    max-width: 1300px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: var(--color-primary);
    background-color: #181818;
}

button {
    display: block;
    margin: 30px auto;
    padding: 9px 15px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--background-color);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
}

button.active {
    background-color: var(--color-primary);
    color: var(--background-color);
}

button:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: black;
}

.cell {
    height: var(--cell-height);
    width: var(--cell-width);
    background-color: white;
    border: 1px solid rgb(156, 156, 156);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cell:hover {
    border: 1px solid black;
}

.cell-row {
    display: flex;
    flex-flow: row nowrap;
}

.colorWindow {
    height: 36px;
    width: 100px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid var(--color-primary);
    margin-bottom: 10px;
    transform: translateY(-10px);
}

.gridWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 650px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-secondary);
}

.header {
    font-size: 40px;
    font-weight: 600;
    margin: 30px 0;
    font-family: 'Press Start 2P', cursive;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}

.optionCard {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.optionControls {
    background-color: var(--background-color-secondary);
    padding: 30px;
    border-radius: var(--border-radius);
}

.sketchPad {
    display: flex;
    width: var(--sketchpad-width);
    height: var(--sketchpad-height);
    flex-flow: column nowrap;
    margin: 20px auto;
    align-items: center;
    border: 1px solid rgb(156, 156, 156);
}

#colorPicker {
    display: block;
    outline: none;
    border: none;
    border: 1px solid rgb(62, 166, 255);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    width: 200%;
    padding: 4px 8px;
    height: 200%;
    transform: translateX(-10px) translateY(-10px);
}

#rowCount {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    border: none;
    border-radius: 10px;
    width: 160px;
    background: var(--color-primary);
}