:root {
    --font-stack: Abel, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    --border-radius: 3px;
}

button {
    font-family: inherit;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-stack);
    position: relative;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    
    position: sticky;
    bottom: 0;

    padding: 8px 0;
    background: white;
    box-shadow: 0 0 10px rgba(184, 184, 184, 0.329);
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    position: sticky;
    top: 0;
    
    padding: 8px 0;
    background: white;
    box-shadow: 0 0 10px rgba(184, 184, 184, 0.329);
}

header .title {
    font-size: 2.4rem;
}

html {
    height: 100%;
}

@font-face {
    font-family: Abel;
    src: url(/assets/fonts/Abel/Abel-Regular.ttf);
}

.card {
    border: 1px solid red;
    height: 150px;
    width: 250px;

    padding: 0px 10px 10px 10px;
}

.card .cardDelete {
}

.completed-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 15px 0;
}

.form-buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    font-family: inherit;
}

.form-contents .cancel {
    align-self: flex-end;
    height: 33px;
    width: 55px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #e9e9ed;
    border: 0;
    transition: all 0.1s ease-out;

    background-image: url(/assets/media/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.form-contents .form-buttons button:focus,
.form-contents .form-buttons button:focus-visible {
    background: #c0c0c0;
    border: 1px solid #c0c0c0;
    outline: 0;
}

.form-contents .form-buttons button:hover {
    border: 1px solid #8f8f8f;
    background: #8f8f8f;
}

.form-contents button,
.form-contents input {
    padding: 0 10px;
    height: 40px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: var(--border-radius);
    transition: all 0.1s ease-out;
}

.form-contents input:focus,
.form-contents input:focus-visible,
.form-contents input[type='checkbox']:focus,
.form-contents input[type='checkbox']:focus-visible {
    border: 1px solid #8f8f8f;
    outline: 0;
}

.form-contents input:hover,
.form-contents input[type='checkbox']:hover {
    border: 1px solid rgb(97, 97, 97);
}

.form-contents input[type='checkbox'] {
    appearance: none;
    height: 25px;
    width: 25px;
    background: #ffffff;
    border-radius: var(--border-radius);
}

.form-contents input[type='checkbox']:checked {
    background-image: url(/assets/media/icons/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.form-contents {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    margin: 8px;
    padding: 0px 15px 25px 15px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 15px rgb(165, 165, 165);
    background: #f7f7f7;

    font-size: 1.1rem;
}

.form-row {
    display: flex;
    flex-flow: column nowrap;
}

.form-row {
    display: flex;
    flex-flow: column nowrap;
}

.library {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
    height: 100%;
}

.library button[book-completed='false'] {
    background: red;
    border: 1px solid red;
}

.library button[book-completed='true'] {
    background: green;
    border: 1px solid green;
}

.main-window {
    display: grid;
    grid-template: auto 1fr auto/auto;
    height: 100%;
}

.new-book-form {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;

    flex-flow: column nowrap;
    justify-content: center;

    background: rgba(228, 228, 228, 0.3);
    backdrop-filter: blur(1.4px);
    z-index: 100;
}

.new-book-form.active {
    display: flex;
}

.new-book-form .cancel:hover,
.new-book-form .cancel:focus,
.new-book-form .cancel:focus-visible {
    background-color: rgba(255, 9, 9, 0.616);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.349);
    outline: 0;
}

.new-book-form .completed-row {
    flex-flow: row nowrap;
}