#googleMap {
    width: 100%;
}

#location {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .map {
        width: 90%;
        max-width: 800px;
    }
}