* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    background-color: #8D99AE;
}

button[type="submit"] {
    -webkit-appearance: none;
    appearance: none;

    border: none;
    border-radius: 4px;

    background-color: #2B2D42;
    color: white;
    font-size: 17px;
    font-weight: bold;

    height: 40px;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px 25px;
    padding: 40px;
    background-color: #edf2f4;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(109, 109, 109);
}

textarea {
    resize: none;
    height: 200px;
    width: 100%;

    border-radius: 4px;
    border: 1px solid #8D99AE;
}

.form-row {
    margin: 20px 0;
    display: flex;
    flex-flow: column wrap;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="phone"] {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #8D99AE;
    padding: 0 5px;
}

.form-row input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 810px) {
    .form-row {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
    }

    .form-row button {
        width: 200px;
    }

    .form-row label {
        display: inline-block;
        text-align: right;
        width: 116px;
        padding: 6px 10px 0 0;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row input[type="phone"],
    textarea {
        width: 275px;
    }

    form {
        width: 679px;
        margin: 10px auto;
    }
}