:root {
    --background-color: #8d99ae;
    --secondary-background-color: #edf2f4;
    --border-color: #8d99ae;
    --border-hover-color: #474d57;
}

@font-face {
    font-family: 'nunitoRegular';
    src: url('/media/Fonts/Nunito/static/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'sourceSerifProBlack900Italic';
    src: url('/media/Fonts/Source_Serif_Pro/SourceSerifPro-BlackItalic.ttf');
}

@font-face {
    font-family: 'nunitoSemiBold600';
    src: url('/media/Fonts/Nunito/static/Nunito-SemiBold.ttf');
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

body > * {
    margin: 10px 25px;
}

button[type="submit"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;

    border: none;
    border-radius: 4px;

    background-color: #2B2D42;
    color: white;
    font-size: 17px;
    font-weight: bold;

    height: 45px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 40px;
    background-color: var(--secondary-background-color);
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(109, 109, 109);
}

textarea {
    resize: none;
    height: 200px;
    width: 100%;

    border-radius: 4px;
    border: 1px solid var(--border-color);

    font-family: 'nunitoRegular';
}

.form-row {
    margin: 15px 0;
    display: flex;
    flex-flow: column wrap;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="phone"] {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 0 5px;

    font-size: 15px;
    font-family: 'nunitoRegular';
}



.form-row input[type="text"]:focus-visible,
.form-row input[type="email"]:focus-visible,
.form-row input[type="phone"]:focus-visible,
textarea:focus-visible {
    outline: none;
    border: 1px solid var(--border-color);
    background-color: #e6eefcf4;
}

.form-row input[type="text"]:hover,
.form-row input[type="email"]:hover,
.form-row input[type="phone"]:hover,
textarea:hover {
    border: 1px solid var(--border-hover-color);
    background-color: #f2f7ffac;
}

.form-row.check {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: space-between;
}

.form-row.check input[type='checkbox']+label {
    font-style: italic;
    color: rgb(66, 66, 66);
}

.form-row input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

.form-row label {
    font-family: 'nunitoSemiBold600';
}

.required {
    font-style: italic;
    font-size: 13px;
    text-align: right;
}

.requirement {
    color: red;
    text-decoration: none;
}

.title {
    font-family: 'sourceSerifProBlack900Italic';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.tooltip {
    width: 
}

/* @media screen and (min-width: 810px) {
    .form-row {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
    }

    .form-row button {
        width: 200px;
    }

    .form-row label {
        display: inline-block;
        text-align: right;
        width: 116px;
        padding: 6px 10px 0 0;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row input[type="phone"],
    textarea {
        width: 275px;
    }

    form {
        width: 679px;
        margin: 10px auto;
    }
} */