:root {
    --primary-background-color: #121212;
    --secondary-background-color: #272727;
    --font:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --color: #ffffffde;
}

body {
    margin-top: 50px;
    font-family: var(--font);
    color: var(--color);
    background-color: var(--primary-background-color);
}

button {
    height: 100%;
    width: 100%;
    font-size: 17px;
    color: white;
    background-color: #181818;
    border-radius: 1px;

    border: 0px;
}

button:hover {
    background-color: #525252;
}

#equals {
    background-color: rgba(189, 91, 26, 0.863);
}

#equals:hover {
    background-color: rgb(240, 95, 11);
}

.buttons {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;

    gap: 2px;
}

.calculator {
    display: grid;
    flex: 1 1 0;

    grid-template-rows: 1.5fr 3fr;

    height: 500px;
    max-width: 325px;
    min-width: 300px;
    border-radius: 1px;
    background-color: var(--secondary-background-color);

    gap: 2px;
    padding: 3px;
}

.display {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

.entry {
    font-size: 40px;
}

.entry, .log {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.main {
    display: flex;
    justify-content: center;
}

.number {
    background-color: #0f0f0f;
}